<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="shortcut icon" href="/favicon/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <%-include("Navbar") %>
    <div class="registerContainer">
        <h1>Register</h1>
        <form action="/registerNewAccount" method="POST">
            <label for="fullname">Fullname</label>
            <input type="text" name="fullname" required>
            <label for="username">Username</label>
            <input type="text" name="username" required>
            <label for="password">Password</label>
            <input type="password" name="password" required>
            <label for="confirmPassword">Confirm Password</label>
            <input type="password" name="confirmPassword" required>
            <button type="submit">Register</button>
        </form>
    </div>
</body>
</html>